[Unit]
Description=Gunicorn instance to serve your app
After=network.target

[Service]
User=flow
Group=www-data
WorkingDirectory=/flow
Environment="PATH=/usr/bin/python3"
ExecStart=/usr/local/bin/gunicorn --workers 3 --bind unix:relay.sock -m 007 app:app

[Install]
WantedBy=multi-user.target
